@import "tailwindcss";


@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/DanaFaNum-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/DanaFaNum-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/DanaFaNum-Medium.woff2") format("woff2");
  font-display: swap;
}

@theme {
  /* --font-vazir: "Vazir"; */
  --font-dana: "Dana";
  --color-primary: #74AEAF;
  --color-primary-900: rgb(74, 109, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(110, 138, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);
  --color-secondary: #1C3C60;
  --color-ochre: #cb9d06;
  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);
  --color-success: rgb(0, 192, 115);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
  --color-red-500: rgb(239, 68, 68);
  --color-red-300: rgb(252, 165, 165);
}

body {
  @apply font-dana;
  direction: rtl;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button{
  cursor: pointer;
}